#heading {
    text-align: center;
    color: white;
    padding: 5px;
}


.current-weather{

    display: flex;
    flex-direction: column;
    margin: 5px;
}

.name-image img{
    width: 50px;
    height: 50px;
}

.name-image{
    margin: 1px;
}